In [1]:
import datetime
import pandas as pd
%config Completer.use_jedi = False # this speeds up autocomplete

## Instalando pysus e geopandas

In [2]:
!pip install pysus
!pip install geopandas

Collecting pysus
  Downloading https://files.pythonhosted.org/packages/fa/ff/f72223423f7478035dda8ea803765ab5e1a36517b524bd5975dbc625cde2/PySUS-0.5.2.tar.gz (14.1MB)
     |████████████████████████████████| 14.1MB 266kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pysus) (1.1.5)
Collecting dbfread
  Downloading https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pysus) (1.14.5)
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 9.9MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pysus) (2.23.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pysus) (3.0.0)
Collecting fastparquet
  Downloading https://files.pythonhosted.org/packages/c2/3e/970dcb3605c1d406be9304f00895bf89ca6b71162afa7f95c5a4032bf927/fastparquet-0.5.0.tar.gz (120kB)
     |████████████████████████████████| 122kB 54.7MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pysus) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pysus) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pysus) (2018.9)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->pysus) (2.20)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder->pysus) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder->pysus) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder->pysus) (7.1.2)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pysus) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pysus) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pysus) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pysus) (1.24.3)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from fastparquet->pysus) (0.51.2)
Collecting thrift>=0.11.0
  Downloading https://files.pythonhosted.org/packages/97/1e/3284d19d7be99305eda145b8aa46b0c33244e4a496ec66440dac19f8274d/thrift-0.13.0.tar.gz (59kB)
     |████████████████████████████████| 61kB 6.7MB/s
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder->pysus) (4.4.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->fastparquet->pysus) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->fastparquet->pysus) (54.2.0)
Building wheels for collected packages: pysus, fastparquet, thrift
  Building wheel for pysus (setup.py) ... done
  Created wheel for pysus: filename=PySUS-0.5.2-cp37-cp37m-linux_x86_64.whl size=12244527 sha256=4e5cf4439bf871d473040efef1ae5bf98c881f1f0d55c979514c51cef626fab4
  Stored in directory: /root/.cache/pip/wheels/71/c2/fe/e195c2df5f458b64628808f7dcfd9377704ad74dbeec92a209
  Building wheel for fastparquet (setup.py) ... done
  Created wheel for fastparquet: filename=fastparquet-0.5.0-cp37-cp37m-linux_x86_64.whl size=213353 sha256=a5bf608b24fde9791aa5047042da30a178b8294c6e3db30dc7afb6a74f531c6a
  Stored in directory: /root/.cache/pip/wheels/97/0e/da/e2122965947ab2bfbc20e31a968e998fc8932f7fcb0ed78ad0
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.13.0-cp37-cp37m-linux_x86_64.whl size=348123 sha256=7bd557b0752c10f2caeafcef9010bed5828819889409e82b1f3a0c1fe4db7d4a
  Stored in directory: /root/.cache/pip/wheels/02/a2/46/689ccfcf40155c23edc7cdbd9de488611c8fdf49ff34b1706e
Successfully built pysus fastparquet thrift
Installing collected packages: dbfread, ratelim, geocoder, thrift, fastparquet, pysus
Successfully installed dbfread-2.0.7 fastparquet-0.5.0 geocoder-1.38.1 pysus-0.5.2 ratelim-0.1.6 thrift-0.13.0
Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 18.3MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 274kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 28.2MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Installing collected packages: cligj, click-plugins, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [3]:
from pysus.online_data.SIM import download

## Baixando os dados

#### 2010

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2010]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

Banco de 2010 de AC baixado!
Banco de 2010 de AL baixado!
Banco de 2010 de AP baixado!
Banco de 2010 de AM baixado!
Banco de 2010 de BA baixado!
Banco de 2010 de CE baixado!
Banco de 2010 de DF baixado!
Banco de 2010 de ES baixado!
Banco de 2010 de GO baixado!
Banco de 2010 de MA baixado!
Banco de 2010 de MT baixado!
Banco de 2010 de MS baixado!
Banco de 2010 de MG baixado!
Banco de 2010 de PA baixado!
Banco de 2010 de PB baixado!
Banco de 2010 de PR baixado!
Banco de 2010 de PE baixado!
Banco de 2010 de PI baixado!
Banco de 2010 de RJ baixado!
Banco de 2010 de RN baixado!
Banco de 2010 de RS baixado!
Banco de 2010 de RO baixado!
Banco de 2010 de RR baixado!
Banco de 2010 de SC baixado!
Banco de 2010 de SP baixado!
Banco de 2010 de SE baixado!
Banco de 2010 de TO baixado!

In [ ]:
todos_10 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_10 = todos_10[
                 todos_10['CAUSABAS'].isin(filter_list) |
                 todos_10['CAUSABAS_O'].isin(filter_list)
                 ]

df_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9476 entries, 157 to 1136880
Data columns (total 63 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     9476 non-null   object
 1   level_1     9476 non-null   int64
 2   level_2     9476 non-null   int64
 3   contador    41 non-null     object
 4   ORIGEM      9476 non-null   object
 5   TIPOBITO    9476 non-null   object
 6   DTOBITO     9476 non-null   object
 7   HORAOBITO   9476 non-null   object
 8   NATURAL     9476 non-null   object
 9   DTNASC      9476 non-null   object
 10  IDADE       9476 non-null   object
 11  SEXO        9476 non-null   object
 12  RACACOR     9476 non-null   object
 13  ESTCIV      9476 non-null   object
 14  ESC         9476 non-null   object
 15  OCUP        9476 non-null   object
 16  CODMUNRES   9476 non-null   object
 17  CODBAIRES   9476 non-null   object
 18  LOCOCOR     9476 non-null   object
 19  CODESTAB    9476 non-null   object
 20  CODMUNOCOR  9476 non-null   object
 21  CODBAIOCOR  9476 non-null   object
 22  IDADEMAE    9476 non-null   object
 23  ESCMAE      9476 non-null   object
 24  OCUPMAE     9476 non-null   object
 25  QTDFILVIVO  9476 non-null   object
 26  QTDFILMORT  9476 non-null   object
 27  GRAVIDEZ    9476 non-null   object
 28  GESTACAO    9476 non-null   object
 29  PARTO       9476 non-null   object
 30  OBITOPARTO  9476 non-null   object
 31  PESO        9476 non-null   object
 32  NUMERODN    41 non-null     object
 33  OBITOGRAV   9476 non-null   object
 34  OBITOPUERP  9476 non-null   object
 35  ASSISTMED   9476 non-null   object
 36  EXAME       9476 non-null   object
 37  CIRURGIA    9476 non-null   object
 38  NECROPSIA   9476 non-null   object
 39  LINHAA      9476 non-null   object
 40  LINHAB      9476 non-null   object
 41  LINHAC      9476 non-null   object
 42  LINHAD      9476 non-null   object
 43  LINHAII     9476 non-null   object
 44  CAUSABAS    9476 non-null   object
 45  DTATESTADO  9476 non-null   object
 46  CIRCOBITO   9476 non-null   object
 47  ACIDTRAB    9476 non-null   object
 48  FONTE       9476 non-null   object
 49  TPPOS       9476 non-null   object
 50  DTINVESTIG  9476 non-null   object
 51  CAUSABAS_O  9476 non-null   object
 52  DTCADASTRO  9476 non-null   object
 53  ATESTANTE   9476 non-null   object
 54  FONTEINV    9476 non-null   object
 55  DTRECEBIM   9476 non-null   object
 56  UFINFORM    9476 non-null   object
 57  CB_PRE      9476 non-null   object
 58  MORTEPARTO  9476 non-null   object
 59  DTCADINF    9476 non-null   object
 60  TPOBITOCOR  9476 non-null   object
 61  DTCADINV    9476 non-null   object
 62  CONTADOR    9435 non-null   object
dtypes: int64(2), object(61)
memory usage: 4.6+ MB

In [ ]:
df_10.to_csv('df_10.csv')

#### 2011

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2011]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

Banco de 2011 de AC baixado!
Banco de 2011 de AL baixado!
Banco de 2011 de AP baixado!
Banco de 2011 de AM baixado!
Banco de 2011 de BA baixado!
Banco de 2011 de CE baixado!
Banco de 2011 de DF baixado!
Banco de 2011 de ES baixado!
Banco de 2011 de GO baixado!
Banco de 2011 de MA baixado!
Banco de 2011 de MT baixado!
Banco de 2011 de MS baixado!
Banco de 2011 de MG baixado!
Banco de 2011 de PA baixado!
Banco de 2011 de PB baixado!
Banco de 2011 de PR baixado!
Banco de 2011 de PE baixado!
Banco de 2011 de PI baixado!
Banco de 2011 de RJ baixado!
Banco de 2011 de RN baixado!
Banco de 2011 de RS baixado!
Banco de 2011 de RO baixado!
Banco de 2011 de RR baixado!
Banco de 2011 de SC baixado!
Banco de 2011 de SP baixado!
Banco de 2011 de SE baixado!
Banco de 2011 de TO baixado!

In [ ]:
todos_11 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_11 = todos_11[
                 todos_11['CAUSABAS'].isin(filter_list) |
                 todos_11['CAUSABAS_O'].isin(filter_list)
                 ]

df_11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9882 entries, 425 to 1170484
Data columns (total 65 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     9882 non-null   object
 1   level_1     9882 non-null   int64
 2   level_2     9882 non-null   int64
 3   CONTADOR    9882 non-null   object
 4   ORIGEM      9882 non-null   object
 5   TIPOBITO    9882 non-null   object
 6   DTOBITO     9882 non-null   object
 7   HORAOBITO   9882 non-null   object
 8   NATURAL     9882 non-null   object
 9   DTNASC      9882 non-null   object
 10  IDADE       9882 non-null   object
 11  SEXO        9882 non-null   object
 12  RACACOR     9882 non-null   object
 13  ESTCIV      9882 non-null   object
 14  ESC         9882 non-null   object
 15  OCUP        9882 non-null   object
 16  CODMUNRES   9882 non-null   object
 17  LOCOCOR     9882 non-null   object
 18  CODESTAB    9882 non-null   object
 19  CODMUNOCOR  9882 non-null   object
 20  IDADEMAE    9882 non-null   object
 21  ESCMAE      9882 non-null   object
 22  OCUPMAE     9882 non-null   object
 23  QTDFILVIVO  9882 non-null   object
 24  QTDFILMORT  9882 non-null   object
 25  GRAVIDEZ    9882 non-null   object
 26  GESTACAO    9882 non-null   object
 27  PARTO       9882 non-null   object
 28  OBITOPARTO  9882 non-null   object
 29  PESO        9882 non-null   object
 30  OBITOGRAV   9882 non-null   object
 31  OBITOPUERP  9882 non-null   object
 32  ASSISTMED   9882 non-null   object
 33  EXAME       9882 non-null   object
 34  CIRURGIA    9882 non-null   object
 35  NECROPSIA   9882 non-null   object
 36  LINHAA      9882 non-null   object
 37  LINHAB      9882 non-null   object
 38  LINHAC      9882 non-null   object
 39  LINHAD      9882 non-null   object
 40  LINHAII     9882 non-null   object
 41  CAUSABAS    9882 non-null   object
 42  COMUNSVOIM  9882 non-null   object
 43  DTATESTADO  9882 non-null   object
 44  CIRCOBITO   9882 non-null   object
 45  ACIDTRAB    9882 non-null   object
 46  FONTE       9882 non-null   object
 47  TPPOS       9882 non-null   object
 48  DTINVESTIG  9882 non-null   object
 49  CAUSABAS_O  9882 non-null   object
 50  DTCADASTRO  9882 non-null   object
 51  ATESTANTE   9882 non-null   object
 52  FONTEINV    9882 non-null   object
 53  DTRECEBIM   9882 non-null   object
 54  DTRECORIG   9882 non-null   object
 55  DTRECORIGA  9882 non-null   object
 56  CAUSAMAT    9882 non-null   object
 57  ESC2010     9882 non-null   object
 58  ESCMAE2010  9882 non-null   object
 59  STDOEPIDEM  9882 non-null   object
 60  STDONOVA    9882 non-null   object
 61  DTCADINV    9882 non-null   object
 62  TPOBITOCOR  9882 non-null   object
 63  DTCADINF    9882 non-null   object
 64  MORTEPARTO  9882 non-null   object
dtypes: int64(2), object(63)
memory usage: 5.0+ MB

In [ ]:
df_11.to_csv('df_11.csv')

#### 2012

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2012]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

Banco de 2012 de AC baixado!
Banco de 2012 de AL baixado!
Banco de 2012 de AP baixado!
Banco de 2012 de AM baixado!
Banco de 2012 de BA baixado!
Banco de 2012 de CE baixado!
Banco de 2012 de DF baixado!
Banco de 2012 de ES baixado!
Banco de 2012 de GO baixado!
Banco de 2012 de MA baixado!
Banco de 2012 de MT baixado!
Banco de 2012 de MS baixado!
Banco de 2012 de MG baixado!
Banco de 2012 de PA baixado!
Banco de 2012 de PB baixado!
Banco de 2012 de PR baixado!
Banco de 2012 de PE baixado!
Banco de 2012 de PI baixado!
Banco de 2012 de RJ baixado!
Banco de 2012 de RN baixado!
Banco de 2012 de RS baixado!
Banco de 2012 de RO baixado!
Banco de 2012 de RR baixado!
Banco de 2012 de SC baixado!
Banco de 2012 de SP baixado!
Banco de 2012 de SE baixado!
Banco de 2012 de TO baixado!

In [ ]:
todos_12 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_12 = todos_12[
                 todos_12['CAUSABAS'].isin(filter_list) |
                 todos_12['CAUSABAS_O'].isin(filter_list)
                 ]

df_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10366 entries, 69 to 1180870
Data columns (total 80 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     10366 non-null  object
 1   level_1     10366 non-null  int64
 2   level_2     10366 non-null  int64
 3   CONTADOR    10366 non-null  object
 4   ORIGEM      10366 non-null  object
 5   TIPOBITO    10366 non-null  object
 6   CODMUNCART  3180 non-null   object
 7   CODCART     3180 non-null   object
 8   NUMREGCART  3180 non-null   object
 9   DTREGCART   3180 non-null   object
 10  DTOBITO     10366 non-null  object
 11  HORAOBITO   10366 non-null  object
 12  NATURAL     10366 non-null  object
 13  DTNASC      10366 non-null  object
 14  IDADE       10366 non-null  object
 15  SEXO        10366 non-null  object
 16  RACACOR     10366 non-null  object
 17  ESTCIV      10366 non-null  object
 18  ESC         10366 non-null  object
 19  SERIESCFAL  10366 non-null  object
 20  ESCMAEAGR1  3180 non-null   object
 21  ESCFALAGR1  3180 non-null   object
 22  OCUP        10366 non-null  object
 23  CODMUNRES   10366 non-null  object
 24  LOCOCOR     10366 non-null  object
 25  CODESTAB    10366 non-null  object
 26  CODMUNOCOR  10366 non-null  object
 27  IDADEMAE    10366 non-null  object
 28  ESCMAE      10366 non-null  object
 29  SERIESCMAE  10366 non-null  object
 30  OCUPMAE     10366 non-null  object
 31  QTDFILVIVO  10366 non-null  object
 32  QTDFILMORT  10366 non-null  object
 33  GRAVIDEZ    10366 non-null  object
 34  SEMAGESTAC  10366 non-null  object
 35  GESTACAO    10366 non-null  object
 36  PARTO       10366 non-null  object
 37  OBITOPARTO  10366 non-null  object
 38  PESO        10366 non-null  object
 39  TPMORTEOCO  10366 non-null  object
 40  OBITOGRAV   10366 non-null  object
 41  OBITOPUERP  10366 non-null  object
 42  ASSISTMED   10366 non-null  object
 43  EXAME       10366 non-null  object
 44  CIRURGIA    10366 non-null  object
 45  NECROPSIA   10366 non-null  object
 46  LINHAA      10366 non-null  object
 47  LINHAB      10366 non-null  object
 48  LINHAC      10366 non-null  object
 49  LINHAD      10366 non-null  object
 50  LINHAII     10366 non-null  object
 51  CAUSABAS    10366 non-null  object
 52  COMUNSVOIM  10366 non-null  object
 53  DTATESTADO  10366 non-null  object
 54  CIRCOBITO   10366 non-null  object
 55  ACIDTRAB    10366 non-null  object
 56  FONTE       10366 non-null  object
 57  TPPOS       10366 non-null  object
 58  DTINVESTIG  10366 non-null  object
 59  CAUSABAS_O  10366 non-null  object
 60  DTCADASTRO  10366 non-null  object
 61  ATESTANTE   10366 non-null  object
 62  FONTEINV    10366 non-null  object
 63  DTRECEBIM   10366 non-null  object
 64  DTRECORIG   3180 non-null   object
 65  DTRECORIGA  10366 non-null  object
 66  CAUSAMAT    10366 non-null  object
 67  ESC2010     10366 non-null  object
 68  ESCMAE2010  10366 non-null  object
 69  EXPDIFDATA  3180 non-null   object
 70  DIFDATA     10366 non-null  object
 71  STDOEPIDEM  10366 non-null  object
 72  STDONOVA    10366 non-null  object
 73  DTCADINV    10366 non-null  object
 74  TPOBITOCOR  10366 non-null  object
 75  DTCONINV    3180 non-null   object
 76  DTCADINF    10366 non-null  object
 77  MORTEPARTO  10366 non-null  object
 78  DTCONCASO   10366 non-null  object
 79  NUDIASOBIN  10366 non-null  object
dtypes: int64(2), object(78)
memory usage: 6.4+ MB

In [ ]:
df_12.to_csv('df_12.csv')

#### 2013

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2013]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2013 de AC baixado!
Banco de 2013 de AL baixado!
Banco de 2013 de AP baixado!
Banco de 2013 de AM baixado!
Banco de 2013 de BA baixado!
Banco de 2013 de CE baixado!
Banco de 2013 de DF baixado!
Banco de 2013 de ES baixado!
Banco de 2013 de GO baixado!
Banco de 2013 de MA baixado!
Banco de 2013 de MT baixado!
Banco de 2013 de MS baixado!
Banco de 2013 de MG baixado!
Banco de 2013 de PA baixado!
Banco de 2013 de PB baixado!
Banco de 2013 de PR baixado!
Banco de 2013 de PE baixado!
Banco de 2013 de PI baixado!
Banco de 2013 de RJ baixado!
Banco de 2013 de RN baixado!
Banco de 2013 de RS baixado!
Banco de 2013 de RO baixado!
Banco de 2013 de RR baixado!
Banco de 2013 de SC baixado!
Banco de 2013 de SP baixado!
Banco de 2013 de SE baixado!
Banco de 2013 de TO baixado!

In [ ]:
todos_13 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_13 = todos_13[
                 todos_13['CAUSABAS'].isin(filter_list) |
                 todos_13['CAUSABAS_O'].isin(filter_list)
                 ]

df_13.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10579 entries, 238 to 1210469
Data columns (total 76 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     10579 non-null  object
 1   level_1     10579 non-null  int64
 2   level_2     10579 non-null  int64
 3   CONTADOR    10579 non-null  object
 4   ORIGEM      10579 non-null  object
 5   TIPOBITO    10579 non-null  object
 6   CODMUNCART  10579 non-null  object
 7   CODCART     10579 non-null  object
 8   NUMREGCART  10579 non-null  object
 9   DTREGCART   10579 non-null  object
 10  DTOBITO     10579 non-null  object
 11  HORAOBITO   10579 non-null  object
 12  NATURAL     10579 non-null  object
 13  DTNASC      10579 non-null  object
 14  IDADE       10579 non-null  object
 15  SEXO        10579 non-null  object
 16  RACACOR     10579 non-null  object
 17  ESTCIV      10579 non-null  object
 18  ESC         10579 non-null  object
 19  ESC2010     10579 non-null  object
 20  SERIESCFAL  10579 non-null  object
 21  OCUP        10579 non-null  object
 22  CODMUNRES   10579 non-null  object
 23  LOCOCOR     10579 non-null  object
 24  CODESTAB    10579 non-null  object
 25  CODMUNOCOR  10579 non-null  object
 26  IDADEMAE    10579 non-null  object
 27  ESCMAE      10579 non-null  object
 28  ESCMAE2010  10579 non-null  object
 29  SERIESCMAE  10579 non-null  object
 30  OCUPMAE     10579 non-null  object
 31  QTDFILVIVO  10579 non-null  object
 32  QTDFILMORT  10579 non-null  object
 33  GRAVIDEZ    10579 non-null  object
 34  SEMAGESTAC  10579 non-null  object
 35  GESTACAO    10579 non-null  object
 36  PARTO       10579 non-null  object
 37  OBITOPARTO  10579 non-null  object
 38  PESO        10579 non-null  object
 39  TPMORTEOCO  10579 non-null  object
 40  OBITOGRAV   10579 non-null  object
 41  OBITOPUERP  10579 non-null  object
 42  ASSISTMED   10579 non-null  object
 43  EXAME       10579 non-null  object
 44  CIRURGIA    10579 non-null  object
 45  NECROPSIA   10579 non-null  object
 46  LINHAA      10579 non-null  object
 47  LINHAB      10579 non-null  object
 48  LINHAC      10579 non-null  object
 49  LINHAD      10579 non-null  object
 50  LINHAII     10579 non-null  object
 51  CAUSABAS    10579 non-null  object
 52  COMUNSVOIM  10579 non-null  object
 53  DTATESTADO  10579 non-null  object
 54  CIRCOBITO   10579 non-null  object
 55  ACIDTRAB    10579 non-null  object
 56  FONTE       10579 non-null  object
 57  TPPOS       10579 non-null  object
 58  DTINVESTIG  10579 non-null  object
 59  CAUSABAS_O  10579 non-null  object
 60  DTCADASTRO  10579 non-null  object
 61  ATESTANTE   10579 non-null  object
 62  FONTEINV    10579 non-null  object
 63  DTRECEBIM   10579 non-null  object
 64  DTRECORIG   10579 non-null  object
 65  CAUSAMAT    10579 non-null  object
 66  DIFDATA     10579 non-null  object
 67  STDOEPIDEM  10579 non-null  object
 68  STDONOVA    10579 non-null  object
 69  DTCADINV    10579 non-null  object
 70  TPOBITOCOR  10579 non-null  object
 71  DTCONINV    10579 non-null  object
 72  DTCADINF    10579 non-null  object
 73  MORTEPARTO  10579 non-null  object
 74  DTCONCASO   10579 non-null  object
 75  NUDIASOBIN  10579 non-null  object
dtypes: int64(2), object(74)
memory usage: 6.2+ MB

In [ ]:
df_13.to_csv('df_13.csv')

#### 2014

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2014]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2014 de AC baixado!
Banco de 2014 de AL baixado!
Banco de 2014 de AP baixado!
Banco de 2014 de AM baixado!
Banco de 2014 de BA baixado!
Banco de 2014 de CE baixado!
Banco de 2014 de DF baixado!
Banco de 2014 de ES baixado!
Banco de 2014 de GO baixado!
Banco de 2014 de MA baixado!
Banco de 2014 de MT baixado!
Banco de 2014 de MS baixado!
Banco de 2014 de MG baixado!
Banco de 2014 de PA baixado!
Banco de 2014 de PB baixado!
Banco de 2014 de PR baixado!
Banco de 2014 de PE baixado!
Banco de 2014 de PI baixado!
Banco de 2014 de RJ baixado!
Banco de 2014 de RN baixado!
Banco de 2014 de RS baixado!
Banco de 2014 de RO baixado!
Banco de 2014 de RR baixado!
Banco de 2014 de SC baixado!
Banco de 2014 de SP baixado!
Banco de 2014 de SE baixado!
Banco de 2014 de TO baixado!

In [ ]:
todos_14 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_14 = todos_14[
                 todos_14['CAUSABAS'].isin(filter_list) |
                 todos_14['CAUSABAS_O'].isin(filter_list)
                 ]

df_14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10683 entries, 14 to 1226839
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     10683 non-null  object
 1   level_1     10683 non-null  int64
 2   level_2     10683 non-null  int64
 3   CONTADOR    10683 non-null  object
 4   ORIGEM      10683 non-null  object
 5   TIPOBITO    10683 non-null  object
 6   DTOBITO     10683 non-null  object
 7   HORAOBITO   10683 non-null  object
 8   NATURAL     10683 non-null  object
 9   CODMUNNATU  10683 non-null  object
 10  DTNASC      10683 non-null  object
 11  IDADE       10683 non-null  object
 12  SEXO        10683 non-null  object
 13  RACACOR     10683 non-null  object
 14  ESTCIV      10683 non-null  object
 15  ESC         10683 non-null  object
 16  ESC2010     10683 non-null  object
 17  SERIESCFAL  10683 non-null  object
 18  OCUP        10683 non-null  object
 19  CODMUNRES   10683 non-null  object
 20  LOCOCOR     10683 non-null  object
 21  CODESTAB    10683 non-null  object
 22  ESTABDESCR  10683 non-null  object
 23  CODMUNOCOR  10683 non-null  object
 24  IDADEMAE    10683 non-null  object
 25  ESCMAE      10683 non-null  object
 26  ESCMAE2010  10683 non-null  object
 27  SERIESCMAE  10683 non-null  object
 28  OCUPMAE     10683 non-null  object
 29  QTDFILVIVO  10683 non-null  object
 30  QTDFILMORT  10683 non-null  object
 31  GRAVIDEZ    10683 non-null  object
 32  SEMAGESTAC  10683 non-null  object
 33  GESTACAO    10683 non-null  object
 34  PARTO       10683 non-null  object
 35  OBITOPARTO  10683 non-null  object
 36  PESO        10683 non-null  object
 37  TPMORTEOCO  10683 non-null  object
 38  OBITOGRAV   10683 non-null  object
 39  OBITOPUERP  10683 non-null  object
 40  ASSISTMED   10683 non-null  object
 41  EXAME       10683 non-null  object
 42  CIRURGIA    10683 non-null  object
 43  NECROPSIA   10683 non-null  object
 44  LINHAA      10683 non-null  object
 45  LINHAB      10683 non-null  object
 46  LINHAC      10683 non-null  object
 47  LINHAD      10683 non-null  object
 48  LINHAII     10683 non-null  object
 49  CAUSABAS    10683 non-null  object
 50  CB_PRE      10683 non-null  object
 51  CRM         10683 non-null  object
 52  COMUNSVOIM  10683 non-null  object
 53  DTATESTADO  10683 non-null  object
 54  CIRCOBITO   10683 non-null  object
 55  ACIDTRAB    10683 non-null  object
 56  FONTE       10683 non-null  object
 57  NUMEROLOTE  10683 non-null  object
 58  TPPOS       10683 non-null  object
 59  DTINVESTIG  10683 non-null  object
 60  CAUSABAS_O  10683 non-null  object
 61  DTCADASTRO  10683 non-null  object
 62  ATESTANTE   10683 non-null  object
 63  STCODIFICA  10683 non-null  object
 64  CODIFICADO  10683 non-null  object
 65  VERSAOSIST  10683 non-null  object
 66  VERSAOSCB   10683 non-null  object
 67  FONTEINV    10683 non-null  object
 68  DTRECEBIM   10683 non-null  object
 69  ATESTADO    10683 non-null  object
 70  DTRECORIGA  10683 non-null  object
 71  CAUSAMAT    10683 non-null  object
 72  ESCMAEAGR1  10683 non-null  object
 73  ESCFALAGR1  10683 non-null  object
 74  STDOEPIDEM  10683 non-null  object
 75  STDONOVA    10683 non-null  object
 76  DIFDATA     10683 non-null  object
 77  NUDIASOBCO  10683 non-null  object
 78  NUDIASOBIN  10683 non-null  object
 79  DTCADINV    10683 non-null  object
 80  TPOBITOCOR  10683 non-null  object
 81  DTCONINV    10683 non-null  object
 82  FONTES      10683 non-null  object
 83  TPRESGINFO  10683 non-null  object
 84  TPNIVELINV  10683 non-null  object
 85  NUDIASINF   10683 non-null  object
 86  DTCADINF    10683 non-null  object
 87  MORTEPARTO  10683 non-null  object
 88  DTCONCASO   10683 non-null  object
 89  FONTESINF   10683 non-null  object
 90  ALTCAUSA    10683 non-null  object
dtypes: int64(2), object(89)
memory usage: 7.5+ MB

In [ ]:
df_14.to_csv('df_14.csv')

#### 2015

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2015]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

Banco de 2015 de AC baixado!
Banco de 2015 de AL baixado!
Banco de 2015 de AP baixado!
Banco de 2015 de AM baixado!
Banco de 2015 de BA baixado!
Banco de 2015 de CE baixado!
Banco de 2015 de DF baixado!
Banco de 2015 de ES baixado!
Banco de 2015 de GO baixado!
Banco de 2015 de MA baixado!
Banco de 2015 de MT baixado!
Banco de 2015 de MS baixado!
Banco de 2015 de MG baixado!
Banco de 2015 de PA baixado!
Banco de 2015 de PB baixado!
Banco de 2015 de PR baixado!
Banco de 2015 de PE baixado!
Banco de 2015 de PI baixado!
Banco de 2015 de RJ baixado!
Banco de 2015 de RN baixado!
Banco de 2015 de RS baixado!
Banco de 2015 de RO baixado!
Banco de 2015 de RR baixado!
Banco de 2015 de SC baixado!
Banco de 2015 de SP baixado!
Banco de 2015 de SE baixado!
Banco de 2015 de TO baixado!

In [ ]:
todos_15 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_15 = todos_15[
                 todos_15['CAUSABAS'].isin(filter_list) |
                 todos_15['CAUSABAS_O'].isin(filter_list)
                 ]

df_15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11211 entries, 202 to 1264169
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     11211 non-null  object
 1   level_1     11211 non-null  int64
 2   level_2     11211 non-null  int64
 3   CONTADOR    11211 non-null  object
 4   ORIGEM      11211 non-null  object
 5   TIPOBITO    11211 non-null  object
 6   DTOBITO     11211 non-null  object
 7   HORAOBITO   11211 non-null  object
 8   NATURAL     11211 non-null  object
 9   CODMUNNATU  11211 non-null  object
 10  DTNASC      11211 non-null  object
 11  IDADE       11211 non-null  object
 12  SEXO        11211 non-null  object
 13  RACACOR     11211 non-null  object
 14  ESTCIV      11211 non-null  object
 15  ESC         11211 non-null  object
 16  ESC2010     11211 non-null  object
 17  SERIESCFAL  11211 non-null  object
 18  OCUP        11211 non-null  object
 19  CODMUNRES   11211 non-null  object
 20  LOCOCOR     11211 non-null  object
 21  CODESTAB    11211 non-null  object
 22  ESTABDESCR  11211 non-null  object
 23  CODMUNOCOR  11211 non-null  object
 24  IDADEMAE    11211 non-null  object
 25  ESCMAE      11211 non-null  object
 26  ESCMAE2010  11211 non-null  object
 27  SERIESCMAE  11211 non-null  object
 28  OCUPMAE     11211 non-null  object
 29  QTDFILVIVO  11211 non-null  object
 30  QTDFILMORT  11211 non-null  object
 31  GRAVIDEZ    11211 non-null  object
 32  SEMAGESTAC  11211 non-null  object
 33  GESTACAO    11211 non-null  object
 34  PARTO       11211 non-null  object
 35  OBITOPARTO  11211 non-null  object
 36  PESO        11211 non-null  object
 37  TPMORTEOCO  11211 non-null  object
 38  OBITOGRAV   11211 non-null  object
 39  OBITOPUERP  11211 non-null  object
 40  ASSISTMED   11211 non-null  object
 41  EXAME       11211 non-null  object
 42  CIRURGIA    11211 non-null  object
 43  NECROPSIA   11211 non-null  object
 44  LINHAA      11211 non-null  object
 45  LINHAB      11211 non-null  object
 46  LINHAC      11211 non-null  object
 47  LINHAD      11211 non-null  object
 48  LINHAII     11211 non-null  object
 49  CAUSABAS    11211 non-null  object
 50  CB_PRE      11211 non-null  object
 51  CRM         11211 non-null  object
 52  COMUNSVOIM  11211 non-null  object
 53  DTATESTADO  11211 non-null  object
 54  CIRCOBITO   11211 non-null  object
 55  ACIDTRAB    11211 non-null  object
 56  FONTE       11211 non-null  object
 57  NUMEROLOTE  11211 non-null  object
 58  TPPOS       11211 non-null  object
 59  DTINVESTIG  11211 non-null  object
 60  CAUSABAS_O  11211 non-null  object
 61  DTCADASTRO  11211 non-null  object
 62  ATESTANTE   11211 non-null  object
 63  STCODIFICA  11211 non-null  object
 64  CODIFICADO  11211 non-null  object
 65  VERSAOSIST  11211 non-null  object
 66  VERSAOSCB   11211 non-null  object
 67  FONTEINV    11211 non-null  object
 68  DTRECEBIM   11211 non-null  object
 69  ATESTADO    11211 non-null  object
 70  DTRECORIGA  11211 non-null  object
 71  CAUSAMAT    11211 non-null  object
 72  ESCMAEAGR1  11211 non-null  object
 73  ESCFALAGR1  11211 non-null  object
 74  STDOEPIDEM  11211 non-null  object
 75  STDONOVA    11211 non-null  object
 76  DIFDATA     11211 non-null  object
 77  NUDIASOBCO  11211 non-null  object
 78  NUDIASOBIN  11211 non-null  object
 79  DTCADINV    11211 non-null  object
 80  TPOBITOCOR  11211 non-null  object
 81  DTCONINV    11211 non-null  object
 82  FONTES      11211 non-null  object
 83  TPRESGINFO  11211 non-null  object
 84  TPNIVELINV  11211 non-null  object
 85  NUDIASINF   11211 non-null  object
 86  DTCADINF    11211 non-null  object
 87  MORTEPARTO  11211 non-null  object
 88  DTCONCASO   11211 non-null  object
 89  FONTESINF   11211 non-null  object
 90  ALTCAUSA    11211 non-null  object
dtypes: int64(2), object(89)
memory usage: 7.9+ MB

In [ ]:
df_15.to_csv('df_15.csv')

#### 2016

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2016]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2016 de AC baixado!
Banco de 2016 de AL baixado!
Banco de 2016 de AP baixado!
Banco de 2016 de AM baixado!
Banco de 2016 de BA baixado!
Banco de 2016 de CE baixado!
Banco de 2016 de DF baixado!
Banco de 2016 de ES baixado!
Banco de 2016 de GO baixado!
Banco de 2016 de MA baixado!
Banco de 2016 de MT baixado!
Banco de 2016 de MS baixado!
Banco de 2016 de MG baixado!
Banco de 2016 de PA baixado!
Banco de 2016 de PB baixado!
Banco de 2016 de PR baixado!
Banco de 2016 de PE baixado!
Banco de 2016 de PI baixado!
Banco de 2016 de RJ baixado!
Banco de 2016 de RN baixado!
Banco de 2016 de RS baixado!
Banco de 2016 de RO baixado!
Banco de 2016 de RR baixado!
Banco de 2016 de SC baixado!
Banco de 2016 de SP baixado!
Banco de 2016 de SE baixado!
Banco de 2016 de TO baixado!

In [ ]:
todos_16 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_16 = todos_16[
                 todos_16['CAUSABAS'].isin(filter_list) |
                 todos_16['CAUSABAS_O'].isin(filter_list)
                 ]

df_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11455 entries, 156 to 1309752
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     11455 non-null  object
 1   level_1     11455 non-null  int64
 2   level_2     11455 non-null  int64
 3   CONTADOR    11455 non-null  object
 4   ORIGEM      11455 non-null  object
 5   TIPOBITO    11455 non-null  object
 6   DTOBITO     11455 non-null  object
 7   HORAOBITO   11455 non-null  object
 8   NATURAL     11455 non-null  object
 9   CODMUNNATU  11455 non-null  object
 10  DTNASC      11455 non-null  object
 11  IDADE       11455 non-null  object
 12  SEXO        11455 non-null  object
 13  RACACOR     11455 non-null  object
 14  ESTCIV      11455 non-null  object
 15  ESC         11455 non-null  object
 16  ESC2010     11455 non-null  object
 17  SERIESCFAL  11455 non-null  object
 18  OCUP        11455 non-null  object
 19  CODMUNRES   11455 non-null  object
 20  LOCOCOR     11455 non-null  object
 21  CODESTAB    11455 non-null  object
 22  ESTABDESCR  11455 non-null  object
 23  CODMUNOCOR  11455 non-null  object
 24  IDADEMAE    11455 non-null  object
 25  ESCMAE      11455 non-null  object
 26  ESCMAE2010  11455 non-null  object
 27  SERIESCMAE  11455 non-null  object
 28  OCUPMAE     11455 non-null  object
 29  QTDFILVIVO  11455 non-null  object
 30  QTDFILMORT  11455 non-null  object
 31  GRAVIDEZ    11455 non-null  object
 32  SEMAGESTAC  11455 non-null  object
 33  GESTACAO    11455 non-null  object
 34  PARTO       11455 non-null  object
 35  OBITOPARTO  11455 non-null  object
 36  PESO        11455 non-null  object
 37  TPMORTEOCO  11455 non-null  object
 38  OBITOGRAV   11455 non-null  object
 39  OBITOPUERP  11455 non-null  object
 40  ASSISTMED   11455 non-null  object
 41  EXAME       11455 non-null  object
 42  CIRURGIA    11455 non-null  object
 43  NECROPSIA   11455 non-null  object
 44  LINHAA      11455 non-null  object
 45  LINHAB      11455 non-null  object
 46  LINHAC      11455 non-null  object
 47  LINHAD      11455 non-null  object
 48  LINHAII     11455 non-null  object
 49  CAUSABAS    11455 non-null  object
 50  CB_PRE      11455 non-null  object
 51  CRM         11455 non-null  object
 52  COMUNSVOIM  11455 non-null  object
 53  DTATESTADO  11455 non-null  object
 54  CIRCOBITO   11455 non-null  object
 55  ACIDTRAB    11455 non-null  object
 56  FONTE       11455 non-null  object
 57  NUMEROLOTE  11455 non-null  object
 58  TPPOS       11455 non-null  object
 59  DTINVESTIG  11455 non-null  object
 60  CAUSABAS_O  11455 non-null  object
 61  DTCADASTRO  11455 non-null  object
 62  ATESTANTE   11455 non-null  object
 63  STCODIFICA  11455 non-null  object
 64  CODIFICADO  11455 non-null  object
 65  VERSAOSIST  11455 non-null  object
 66  VERSAOSCB   11455 non-null  object
 67  FONTEINV    11455 non-null  object
 68  DTRECEBIM   11455 non-null  object
 69  ATESTADO    11455 non-null  object
 70  DTRECORIGA  11455 non-null  object
 71  CAUSAMAT    11455 non-null  object
 72  ESCMAEAGR1  11455 non-null  object
 73  ESCFALAGR1  11455 non-null  object
 74  STDOEPIDEM  11455 non-null  object
 75  STDONOVA    11455 non-null  object
 76  DIFDATA     11455 non-null  object
 77  NUDIASOBCO  11455 non-null  object
 78  NUDIASOBIN  11455 non-null  object
 79  DTCADINV    11455 non-null  object
 80  TPOBITOCOR  11455 non-null  object
 81  DTCONINV    11455 non-null  object
 82  FONTES      11455 non-null  object
 83  TPRESGINFO  11455 non-null  object
 84  TPNIVELINV  11455 non-null  object
 85  NUDIASINF   11455 non-null  object
 86  DTCADINF    11455 non-null  object
 87  MORTEPARTO  11455 non-null  object
 88  DTCONCASO   11455 non-null  object
 89  FONTESINF   11455 non-null  object
 90  ALTCAUSA    11455 non-null  object
dtypes: int64(2), object(89)
memory usage: 8.0+ MB

In [ ]:
df_16.to_csv('df_16.csv')

#### 2017

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2017]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2017 de AC baixado!
Banco de 2017 de AL baixado!
Banco de 2017 de AP baixado!
Banco de 2017 de AM baixado!
Banco de 2017 de BA baixado!
Banco de 2017 de CE baixado!
Banco de 2017 de DF baixado!
Banco de 2017 de ES baixado!
Banco de 2017 de GO baixado!
Banco de 2017 de MA baixado!
Banco de 2017 de MT baixado!
Banco de 2017 de MS baixado!
Banco de 2017 de MG baixado!
Banco de 2017 de PA baixado!
Banco de 2017 de PB baixado!
Banco de 2017 de PR baixado!
Banco de 2017 de PE baixado!
Banco de 2017 de PI baixado!
Banco de 2017 de RJ baixado!
Banco de 2017 de RN baixado!
Banco de 2017 de RS baixado!
Banco de 2017 de RO baixado!
Banco de 2017 de RR baixado!
Banco de 2017 de SC baixado!
Banco de 2017 de SP baixado!
Banco de 2017 de SE baixado!
Banco de 2017 de TO baixado!

In [ ]:
todos_17 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_17 = todos_17[
                 todos_17['CAUSABAS'].isin(filter_list) |
                 todos_17['CAUSABAS_O'].isin(filter_list)
                 ]

df_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12521 entries, 116 to 1312655
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     12521 non-null  object
 1   level_1     12521 non-null  int64
 2   level_2     12521 non-null  int64
 3   CONTADOR    12521 non-null  object
 4   ORIGEM      12521 non-null  object
 5   TIPOBITO    12521 non-null  object
 6   DTOBITO     12521 non-null  object
 7   HORAOBITO   12521 non-null  object
 8   NATURAL     12521 non-null  object
 9   CODMUNNATU  12521 non-null  object
 10  DTNASC      12521 non-null  object
 11  IDADE       12521 non-null  object
 12  SEXO        12521 non-null  object
 13  RACACOR     12521 non-null  object
 14  ESTCIV      12521 non-null  object
 15  ESC         12521 non-null  object
 16  ESC2010     12521 non-null  object
 17  SERIESCFAL  12521 non-null  object
 18  OCUP        12521 non-null  object
 19  CODMUNRES   12521 non-null  object
 20  LOCOCOR     12521 non-null  object
 21  CODESTAB    12521 non-null  object
 22  ESTABDESCR  12521 non-null  object
 23  CODMUNOCOR  12521 non-null  object
 24  IDADEMAE    12521 non-null  object
 25  ESCMAE      12521 non-null  object
 26  ESCMAE2010  12521 non-null  object
 27  SERIESCMAE  12521 non-null  object
 28  OCUPMAE     12521 non-null  object
 29  QTDFILVIVO  12521 non-null  object
 30  QTDFILMORT  12521 non-null  object
 31  GRAVIDEZ    12521 non-null  object
 32  SEMAGESTAC  12521 non-null  object
 33  GESTACAO    12521 non-null  object
 34  PARTO       12521 non-null  object
 35  OBITOPARTO  12521 non-null  object
 36  PESO        12521 non-null  object
 37  TPMORTEOCO  12521 non-null  object
 38  OBITOGRAV   12521 non-null  object
 39  OBITOPUERP  12521 non-null  object
 40  ASSISTMED   12521 non-null  object
 41  EXAME       12521 non-null  object
 42  CIRURGIA    12521 non-null  object
 43  NECROPSIA   12521 non-null  object
 44  LINHAA      12521 non-null  object
 45  LINHAB      12521 non-null  object
 46  LINHAC      12521 non-null  object
 47  LINHAD      12521 non-null  object
 48  LINHAII     12521 non-null  object
 49  CAUSABAS    12521 non-null  object
 50  CB_PRE      12521 non-null  object
 51  CRM         12521 non-null  object
 52  COMUNSVOIM  12521 non-null  object
 53  DTATESTADO  12521 non-null  object
 54  CIRCOBITO   12521 non-null  object
 55  ACIDTRAB    12521 non-null  object
 56  FONTE       12521 non-null  object
 57  NUMEROLOTE  12521 non-null  object
 58  TPPOS       12521 non-null  object
 59  DTINVESTIG  12521 non-null  object
 60  CAUSABAS_O  12521 non-null  object
 61  DTCADASTRO  12521 non-null  object
 62  ATESTANTE   12521 non-null  object
 63  STCODIFICA  12521 non-null  object
 64  CODIFICADO  12521 non-null  object
 65  VERSAOSIST  12521 non-null  object
 66  VERSAOSCB   12521 non-null  object
 67  FONTEINV    12521 non-null  object
 68  DTRECEBIM   12521 non-null  object
 69  ATESTADO    12521 non-null  object
 70  DTRECORIGA  12521 non-null  object
 71  CAUSAMAT    12521 non-null  object
 72  ESCMAEAGR1  12521 non-null  object
 73  ESCFALAGR1  12521 non-null  object
 74  STDOEPIDEM  12521 non-null  object
 75  STDONOVA    12521 non-null  object
 76  DIFDATA     12521 non-null  object
 77  NUDIASOBCO  12521 non-null  object
 78  NUDIASOBIN  12521 non-null  object
 79  DTCADINV    12521 non-null  object
 80  TPOBITOCOR  12521 non-null  object
 81  DTCONINV    12521 non-null  object
 82  FONTES      12521 non-null  object
 83  TPRESGINFO  12521 non-null  object
 84  TPNIVELINV  12521 non-null  object
 85  NUDIASINF   12521 non-null  object
 86  DTCADINF    12521 non-null  object
 87  MORTEPARTO  12521 non-null  object
 88  DTCONCASO   12521 non-null  object
 89  FONTESINF   12521 non-null  object
 90  ALTCAUSA    12521 non-null  object
dtypes: int64(2), object(89)
memory usage: 8.8+ MB

In [ ]:
df_17.to_csv('df_17.csv')

#### 2018

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2018]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

Banco de 2018 de AC baixado!
Banco de 2018 de AL baixado!
Banco de 2018 de AP baixado!
Banco de 2018 de AM baixado!
Banco de 2018 de BA baixado!
Banco de 2018 de CE baixado!
Banco de 2018 de DF baixado!
Banco de 2018 de ES baixado!
Banco de 2018 de GO baixado!
Banco de 2018 de MA baixado!
Banco de 2018 de MT baixado!
Banco de 2018 de MS baixado!
Banco de 2018 de MG baixado!
Banco de 2018 de PA baixado!
Banco de 2018 de PB baixado!
Banco de 2018 de PR baixado!
Banco de 2018 de PE baixado!
Banco de 2018 de PI baixado!
Banco de 2018 de RJ baixado!
Banco de 2018 de RN baixado!
Banco de 2018 de RS baixado!
Banco de 2018 de RO baixado!
Banco de 2018 de RR baixado!
Banco de 2018 de SC baixado!

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2018 de SP baixado!
Banco de 2018 de SE baixado!
Banco de 2018 de TO baixado!

In [ ]:
todos_18 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_18 = todos_18[
                 todos_18['CAUSABAS'].isin(filter_list) |
                 todos_18['CAUSABAS_O'].isin(filter_list)
                 ]

df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12764 entries, 38 to 1316700
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     12764 non-null  object
 1   level_1     12764 non-null  int64
 2   level_2     12764 non-null  int64
 3   ORIGEM      12764 non-null  object
 4   TIPOBITO    12764 non-null  object
 5   DTOBITO     12764 non-null  object
 6   HORAOBITO   12764 non-null  object
 7   NATURAL     12764 non-null  object
 8   CODMUNNATU  12764 non-null  object
 9   DTNASC      12764 non-null  object
 10  IDADE       12764 non-null  object
 11  SEXO        12764 non-null  object
 12  RACACOR     12764 non-null  object
 13  ESTCIV      12764 non-null  object
 14  ESC         12764 non-null  object
 15  ESC2010     12764 non-null  object
 16  SERIESCFAL  12764 non-null  object
 17  OCUP        12764 non-null  object
 18  CODMUNRES   12764 non-null  object
 19  LOCOCOR     12764 non-null  object
 20  CODESTAB    12764 non-null  object
 21  ESTABDESCR  12764 non-null  object
 22  CODMUNOCOR  12764 non-null  object
 23  IDADEMAE    12764 non-null  object
 24  ESCMAE      12764 non-null  object
 25  ESCMAE2010  12764 non-null  object
 26  SERIESCMAE  12764 non-null  object
 27  OCUPMAE     12764 non-null  object
 28  QTDFILVIVO  12764 non-null  object
 29  QTDFILMORT  12764 non-null  object
 30  GRAVIDEZ    12764 non-null  object
 31  SEMAGESTAC  12764 non-null  object
 32  GESTACAO    12764 non-null  object
 33  PARTO       12764 non-null  object
 34  OBITOPARTO  12764 non-null  object
 35  PESO        12764 non-null  object
 36  TPMORTEOCO  12764 non-null  object
 37  OBITOGRAV   12764 non-null  object
 38  OBITOPUERP  12764 non-null  object
 39  ASSISTMED   12764 non-null  object
 40  EXAME       12764 non-null  object
 41  CIRURGIA    12764 non-null  object
 42  NECROPSIA   12764 non-null  object
 43  LINHAA      12764 non-null  object
 44  LINHAB      12764 non-null  object
 45  LINHAC      12764 non-null  object
 46  LINHAD      12764 non-null  object
 47  LINHAII     12764 non-null  object
 48  CAUSABAS    12764 non-null  object
 49  CB_PRE      12764 non-null  object
 50  CRM         12764 non-null  object
 51  COMUNSVOIM  12764 non-null  object
 52  DTATESTADO  12764 non-null  object
 53  CIRCOBITO   12764 non-null  object
 54  ACIDTRAB    12764 non-null  object
 55  FONTE       12764 non-null  object
 56  NUMEROLOTE  12764 non-null  object
 57  TPPOS       12764 non-null  object
 58  DTINVESTIG  12764 non-null  object
 59  CAUSABAS_O  12764 non-null  object
 60  DTCADASTRO  12764 non-null  object
 61  ATESTANTE   12764 non-null  object
 62  STCODIFICA  12764 non-null  object
 63  CODIFICADO  12764 non-null  object
 64  VERSAOSIST  12764 non-null  object
 65  VERSAOSCB   12764 non-null  object
 66  FONTEINV    12764 non-null  object
 67  DTRECEBIM   12764 non-null  object
 68  ATESTADO    12764 non-null  object
 69  DTRECORIGA  12764 non-null  object
 70  CAUSAMAT    12764 non-null  object
 71  ESCMAEAGR1  12764 non-null  object
 72  ESCFALAGR1  12764 non-null  object
 73  STDOEPIDEM  12764 non-null  object
 74  STDONOVA    12764 non-null  object
 75  DIFDATA     12764 non-null  object
 76  NUDIASOBCO  12764 non-null  object
 77  NUDIASOBIN  12764 non-null  object
 78  DTCADINV    12764 non-null  object
 79  TPOBITOCOR  12764 non-null  object
 80  DTCONINV    12764 non-null  object
 81  FONTES      12764 non-null  object
 82  TPRESGINFO  12764 non-null  object
 83  TPNIVELINV  12764 non-null  object
 84  NUDIASINF   12764 non-null  object
 85  DTCADINF    12764 non-null  object
 86  MORTEPARTO  12764 non-null  object
 87  DTCONCASO   12764 non-null  object
 88  FONTESINF   12764 non-null  object
 89  ALTCAUSA    12764 non-null  object
 90  CONTADOR    12764 non-null  object
dtypes: int64(2), object(89)
memory usage: 9.0+ MB

In [ ]:
df_18.to_csv('df_18.csv')

#### 2019

In [ ]:
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
          'MA','MT','MS','MG','PA','PB','PR','PE','PI',
          'RJ','RN','RS','RO','RR','SC','SP','SE','TO']

ano = [2019]

banco={}
for y in ano:
    for uf in estados:
        banco[uf, y] = download(state = uf, year=y)
        print("Banco de " + str(y) + " de " + str(uf) + " baixado!")

/usr/local/lib/python3.7/dist-packages/pysus/online_data/SIM.py:65: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  df.to_parquet(cachefile)

Banco de 2019 de AC baixado!
Banco de 2019 de AL baixado!
Banco de 2019 de AP baixado!
Banco de 2019 de AM baixado!
Banco de 2019 de BA baixado!
Banco de 2019 de CE baixado!
Banco de 2019 de DF baixado!
Banco de 2019 de ES baixado!
Banco de 2019 de GO baixado!
Banco de 2019 de MA baixado!
Banco de 2019 de MT baixado!
Banco de 2019 de MS baixado!
Banco de 2019 de MG baixado!
Banco de 2019 de PA baixado!
Banco de 2019 de PB baixado!
Banco de 2019 de PR baixado!
Banco de 2019 de PE baixado!
Banco de 2019 de PI baixado!
Banco de 2019 de RJ baixado!
Banco de 2019 de RN baixado!
Banco de 2019 de RS baixado!
Banco de 2019 de RO baixado!
Banco de 2019 de RR baixado!
Banco de 2019 de SC baixado!
Banco de 2019 de SP baixado!
Banco de 2019 de SE baixado!
Banco de 2019 de TO baixado!

In [ ]:
todos_19 = pd.concat(
    {k: pd.DataFrame.from_dict(v) for k, v in banco.items() },
    axis=0).reset_index()

In [ ]:
filter_list=["X{}".format(x) for x in range(600, 850)]

df_19 = todos_19[
                 todos_19['CAUSABAS'].isin(filter_list) |
                 todos_19['CAUSABAS_O'].isin(filter_list)
                 ]

df_19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13554 entries, 40 to 1349783
Data columns (total 90 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     13554 non-null  object
 1   level_1     13554 non-null  int64
 2   level_2     13554 non-null  int64
 3   ORIGEM      13554 non-null  object
 4   TIPOBITO    13554 non-null  object
 5   DTOBITO     13554 non-null  object
 6   HORAOBITO   13554 non-null  object
 7   NATURAL     13554 non-null  object
 8   CODMUNNATU  13554 non-null  object
 9   DTNASC      13554 non-null  object
 10  IDADE       13554 non-null  object
 11  SEXO        13554 non-null  object
 12  RACACOR     13554 non-null  object
 13  ESTCIV      13554 non-null  object
 14  ESC         13554 non-null  object
 15  ESC2010     13554 non-null  object
 16  SERIESCFAL  13554 non-null  object
 17  OCUP        13554 non-null  object
 18  CODMUNRES   13554 non-null  object
 19  LOCOCOR     13554 non-null  object
 20  CODESTAB    13554 non-null  object
 21  ESTABDESCR  13554 non-null  object
 22  CODMUNOCOR  13554 non-null  object
 23  IDADEMAE    13554 non-null  object
 24  ESCMAE      13554 non-null  object
 25  ESCMAE2010  13554 non-null  object
 26  SERIESCMAE  13554 non-null  object
 27  OCUPMAE     13554 non-null  object
 28  QTDFILVIVO  13554 non-null  object
 29  QTDFILMORT  13554 non-null  object
 30  GRAVIDEZ    13554 non-null  object
 31  SEMAGESTAC  13554 non-null  object
 32  GESTACAO    13554 non-null  object
 33  PARTO       13554 non-null  object
 34  OBITOPARTO  13554 non-null  object
 35  PESO        13554 non-null  object
 36  TPMORTEOCO  13554 non-null  object
 37  OBITOGRAV   13554 non-null  object
 38  OBITOPUERP  13554 non-null  object
 39  ASSISTMED   13554 non-null  object
 40  EXAME       13554 non-null  object
 41  CIRURGIA    13554 non-null  object
 42  NECROPSIA   13554 non-null  object
 43  LINHAA      13554 non-null  object
 44  LINHAB      13554 non-null  object
 45  LINHAC      13554 non-null  object
 46  LINHAD      13554 non-null  object
 47  LINHAII     13554 non-null  object
 48  CAUSABAS    13554 non-null  object
 49  CB_PRE      13554 non-null  object
 50  COMUNSVOIM  13554 non-null  object
 51  DTATESTADO  13554 non-null  object
 52  CIRCOBITO   13554 non-null  object
 53  ACIDTRAB    13554 non-null  object
 54  FONTE       13554 non-null  object
 55  NUMEROLOTE  13554 non-null  object
 56  TPPOS       13554 non-null  object
 57  DTINVESTIG  13554 non-null  object
 58  CAUSABAS_O  13554 non-null  object
 59  DTCADASTRO  13554 non-null  object
 60  ATESTANTE   13554 non-null  object
 61  STCODIFICA  13554 non-null  object
 62  CODIFICADO  13554 non-null  object
 63  VERSAOSIST  13554 non-null  object
 64  VERSAOSCB   13554 non-null  object
 65  FONTEINV    13554 non-null  object
 66  DTRECEBIM   13554 non-null  object
 67  ATESTADO    13554 non-null  object
 68  DTRECORIGA  13554 non-null  object
 69  CAUSAMAT    13554 non-null  object
 70  ESCMAEAGR1  13554 non-null  object
 71  ESCFALAGR1  13554 non-null  object
 72  STDOEPIDEM  13554 non-null  object
 73  STDONOVA    13554 non-null  object
 74  DIFDATA     13554 non-null  object
 75  NUDIASOBCO  13554 non-null  object
 76  NUDIASOBIN  13554 non-null  object
 77  DTCADINV    13554 non-null  object
 78  TPOBITOCOR  13554 non-null  object
 79  DTCONINV    13554 non-null  object
 80  FONTES      13554 non-null  object
 81  TPRESGINFO  13554 non-null  object
 82  TPNIVELINV  13554 non-null  object
 83  NUDIASINF   13554 non-null  object
 84  DTCADINF    13554 non-null  object
 85  MORTEPARTO  13554 non-null  object
 86  DTCONCASO   13554 non-null  object
 87  FONTESINF   13554 non-null  object
 88  ALTCAUSA    13554 non-null  object
 89  CONTADOR    13554 non-null  object
dtypes: int64(2), object(88)
memory usage: 9.4+ MB

In [ ]:
df_19.to_csv('df_19.csv')

## Concatenando os dados

In [2]:
# Columns to keep
cols_to_keep = ['level_0', 'level_1', 'DTOBITO', 'DTNASC', 'SEXO', 'RACACOR',
                'ASSISTMED', 'ESCMAE', 'ESTCIV', 'ESC', 'OCUP', 'CODMUNRES',
                'CAUSABAS', 'CAUSABAS_O', 'LOCOCOR', 'CIRURGIA']

df_10 = pd.read_csv('df_10.csv')[cols_to_keep]
df_11 = pd.read_csv('df_11.csv')[cols_to_keep]
df_12 = pd.read_csv('df_12.csv')[cols_to_keep]
df_13 = pd.read_csv('df_13.csv')[cols_to_keep]
df_14 = pd.read_csv('df_14.csv')[cols_to_keep]
df_15 = pd.read_csv('df_15.csv')[cols_to_keep]
df_16 = pd.read_csv('df_16.csv')[cols_to_keep]
df_17 = pd.read_csv('df_17.csv')[cols_to_keep]
df_18 = pd.read_csv('df_18.csv')[cols_to_keep]
df_19 = pd.read_csv('df_19.csv')[cols_to_keep]

c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (23,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (23,52,72) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (72,83) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\reisr\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (81) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = pd.concat([df_10, df_11, df_12,
                df_13, df_14, df_15,
                df_16, df_17, df_18, df_19
               ], ignore_index = True)

df.info()

df_inicial = df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112491 entries, 0 to 112490
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   level_0     112491 non-null  object
 1   level_1     112491 non-null  int64
 2   DTOBITO     112491 non-null  int64
 3   DTNASC      111979 non-null  float64
 4   SEXO        112491 non-null  int64
 5   RACACOR     109321 non-null  float64
 6   ASSISTMED   78356 non-null   float64
 7   ESCMAE      19 non-null      float64
 8   ESTCIV      108962 non-null  float64
 9   ESC         104781 non-null  float64
 10  OCUP        87714 non-null   float64
 11  CODMUNRES   112491 non-null  int64
 12  CAUSABAS    112491 non-null  object
 13  CAUSABAS_O  112204 non-null  object
 14  LOCOCOR     112491 non-null  int64
 15  CIRURGIA    9266 non-null    float64
dtypes: float64(8), int64(5), object(3)
memory usage: 13.7+ MB

## Limpando os dados

#### Renomeando colunas

In [4]:
# Renomeando colunas
df.rename(columns={'level_0': 'estado', 'level_1': 'ano'}, inplace=True)
df.columns

Index(['estado', 'ano', 'DTOBITO', 'DTNASC', 'SEXO', 'RACACOR', 'ASSISTMED',
       'ESCMAE', 'ESTCIV', 'ESC', 'OCUP', 'CODMUNRES', 'CAUSABAS',
       'CAUSABAS_O', 'LOCOCOR', 'CIRURGIA'],
      dtype='object')

#### Organizando os tipos de dados

In [5]:
# Vários valores vieram como float. Em questão disso, operações de substituição não puderam ser realizadas.

df = df.fillna(0)

# Organizando sexo
df['SEXO'] = df['SEXO'].astype(str)
df['SEXO'] = df['SEXO'].map(lambda x: x.rstrip('.0'))

# Organizando raça/cor
df['RACACOR'] = df['RACACOR'].astype(str)
df['RACACOR'] = df['RACACOR'].map(lambda x: x.rstrip('.0'))

# Organizando estado civil
df['ESTCIV'] = df['ESTCIV'].astype(str)
df['ESTCIV'] = df['ESTCIV'].map(lambda x: x.rstrip('.0'))

# Organizando escolaridade
df['ESC'] = df['ESC'].astype(str)
df['ESC'] = df['ESC'].map(lambda x: x.rstrip('.0'))

# Organizando local da ocorrência
df['LOCOCOR'] = df['LOCOCOR'].astype(str)
df['LOCOCOR'] = df['LOCOCOR'].map(lambda x: x.rstrip('.0'))

# Organizando assistência média (sim, não)
df['ASSISTMED'] = df['ASSISTMED'].astype(str)
df['ASSISTMED'] = df['ASSISTMED'].map(lambda x: x.rstrip('.0'))

# Organizando escolaridade da mãe
df['ESCMAE'] = df['ESCMAE'].astype(str)
df['ESCMAE'] = df['ESCMAE'].map(lambda x: x.rstrip('.0'))

# Organizando cirurgia (sim, não)
df['CIRURGIA'] = df['CIRURGIA'].astype(str)
df['CIRURGIA'] = df['CIRURGIA'].map(lambda x: x.rstrip('.0'))

#### Recodificando variáveis

In [6]:
# Criando dicionários
dicSEXO = {
    1 : 'Masculino',
    2 : 'Feminino',
    0 : 'NA',
    9 : 'NA'
}

dicRACACOR = {
    1 : 'Branca',
    2 : 'Preta',
    3 : 'Amarela',
    4 : 'Parda',
    5 : 'Indígena',
    0 : 'NaN', 
    6 : 'NaN',
    7 : 'NaN',
    8 : 'NaN',
    9 : 'NaN'
}

dicESTCIV = {
    1 : 'Solteiro',
    2 : 'Casado',
    3 : 'Viúvo',
    4 : 'Separado judicialmente',
    5 : 'União consensual',
    0 : 'NaN', 
    6 : 'NaN',
    7 : 'NaN',
    8 : 'NaN',
    9 : 'NaN'
}

dicESC = {
    1 : 'Nenhuma',
    2 : '1 a 3 anos',
    3 : '4 a 7 anos',
    4 : '8 a 11 anos',
    5 : '12 e mais',
    8 : 'De 9 a 11 anos',
    0 : 'NaN',
    6 : 'NaN',
    7 : 'NaN',
    9 : 'NaN',
    ''  : 'NaN'
}

dictLOCOCOR = {
    1 : 'Hospital',
    2 : 'Outro estabelecimento de saúde',
    3 : 'Domicílio',
    4 : 'Via pública',
    5 : 'Outros',
    9 : 'NaN'
}

dictASSISTMED = {
    1 : 'Sim',
    2 : 'Não',
    9 : 'NaN'
}

dicESCMAE = {
    1 : 'Nenhuma',
    2 : '1 a 3 anos',
    3 : '4 a 7 anos',
    4 : '8 a 11 anos',
    5 : '12 e mais',
    8 : 'De 9 a 11 anos',
    0 : 'NaN',
    6 : 'NaN',
    7 : 'NaN',
    9 : 'NaN',
    ''  : 'NaN' 
}


dicCIRURGIA = {
    1 : 'Sim',
    2 : 'Não',
    9 : 'NaN'
}

df = df_inicial.replace(
    {'SEXO' : dicSEXO, 
     'RACACOR' : dicRACACOR, 
     'ESTCIV' : dicESTCIV, 
     'ESC' : dicESC, 
     'LOCOCOR' : dictLOCOCOR, 
     'ASSISTMED' : dictASSISTMED,
     'ESCMAE' : dicESCMAE,
     'CIRURGIA' : dicCIRURGIA
    })

#### Limpando datas

In [7]:
# Organizando datas
df['DTNASC'] = df['DTNASC'].astype(str)
df['DTNASC'] = df['DTNASC'].map(lambda x: x.rstrip('.0'))
df['DTOBITO'] = df['DTOBITO'].astype(str)

In [8]:
# Arrumando número de casas
df['DTOBITO'] = df['DTOBITO'].apply(lambda x: x.zfill(8))
df['DTNASC'] = df['DTNASC'].apply(lambda x: x.zfill(8))

#### Codificando ocupação

In [12]:
# Arrumando ocupação
df['OCUP'] = df['OCUP'].astype(str)
df['OCUP'] = df['OCUP'].apply(lambda x: x.zfill(6))

url_cbo = 'https://raw.githubusercontent.com/daltonbc96/python/master/CBO.csv'

CBO2002  = pd.read_csv(url_cbo).set_index('CODIGO').to_dict()

df['OCUP'] = df['OCUP'].fillna(0).astype(str)
df['OCUP'] = df['OCUP'].map(lambda x: x.rstrip('.0'))

df['OCUP'] = df['OCUP'].replace('000nan', 0).astype(int)
df['OCUP'] = df['OCUP'].replace('', 0)
df['OCUP'] = df['OCUP'].replace(CBO2002['OCUPACAO'])
df['OCUP'] = df['OCUP'].replace(0, 'NaN')

#### Codificando municípios

In [13]:
url_mun = 'http://blog.mds.gov.br/redesuas/wp-content/uploads/2018/06/Lista_Munic%C3%ADpios_com_IBGE_Brasil_Versao_CSV.csv'

municipios  = pd.read_csv(url_mun,
                          error_bad_lines = False,
                          sep = ';',
                          encoding = 'latin-1', 
                          usecols = ['IBGE','Município']).set_index('IBGE').to_dict()

df['CODMUNRES'] = df['CODMUNRES'].astype(int).replace(municipios['Município'])

## Salvando o banco de dados final

In [14]:
df.head(n = 20)

,estado,ano,DTOBITO,DTNASC,SEXO,RACACOR,ASSISTMED,ESCMAE,ESTCIV,ESC,OCUP,CODMUNRES,CAUSABAS,CAUSABAS_O,LOCOCOR,CIRURGIA
0,AC,2010,31012010,09111999,Masculino,Parda,NaN,NaN,Solteiro,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Via pública,Não
1,AC,2010,07022010,23091985,Masculino,Parda,NaN,NaN,Solteiro,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Hospital,Não
2,AC,2010,19022010,06081995,Masculino,Parda,NaN,NaN,Solteiro,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Hospital,Não
3,AC,2010,20042010,25121983,Feminino,Parda,NaN,NaN,Casado,1 a 3 anos,DONA DE CASA,Tarauacá,X780,X780,Domicílio,Não
4,AC,2010,24072010,13051982,Masculino,Parda,NaN,NaN,Casado,NaN,DONA DE CASA,Tarauacá,X720,X720,Domicílio,Não
5,AC,2010,30042010,13071967,Feminino,Preta,NaN,NaN,Solteiro,4 a 7 anos,DONA DE CASA,Tarauacá,X780,X780,Hospital,Não
6,AC,2010,15012010,05091979,Masculino,Parda,NaN,NaN,Solteiro,4 a 7 anos,NaN,Rio Branco,X700,X700,Domicílio,Não
7,AC,2010,16012010,19011994,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Rio Branco,X700,X700,Domicílio,Não
8,AC,2010,15092010,14041952,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Rio Branco,X629,R99,Domicílio,NaN
9,AC,2010,03092010,14081968,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Epitaciolândia,X747,X747,Domicílio,Não
10,AC,2010,05092010,23111971,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Rio Branco,X700,X700,Domicílio,NaN
11,AC,2010,25082010,15021954,Masculino,NaN,NaN,NaN,NaN,NaN,NaN,Rio Branco,X700,X700,Domicílio,NaN
12,AC,2010,08102010,25121971,Feminino,NaN,NaN,NaN,Casado,NaN,NaN,Rio Branco,X699,X699,Domicílio,Não
13,AC,2010,22102010,02501199,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Rio Branco,X709,X709,Domicílio,NaN
14,AC,2010,18102010,06101984,Masculino,Parda,NaN,NaN,Solteiro,NaN,NaN,Porto Acre,X740,X740,Outros,NaN
15,AC,2010,25102010,14091995,Masculino,Branca,NaN,NaN,Solteiro,NaN,NaN,Rio Branco,X749,X749,Domicílio,Não
16,AC,2010,11052010,21121948,Masculino,Branca,NaN,NaN,Solteiro,NaN,APOSENTADO/PENSIONISTA,Rio Branco,X629,R98,Domicílio,NaN
17,AC,2010,15012010,31121995,Feminino,Amarela,NaN,NaN,Solteiro,NaN,ESTUDANTE,Rio Branco,X689,X689,Hospital,Não
18,AC,2010,18032010,06071981,Masculino,NaN,NaN,NaN,NaN,NaN,NaN,Rio Branco,X709,X709,Domicílio,NaN
19,AC,2010,19032010,06081987,Masculino,Parda,NaN,NaN,Solteiro,8 a 11 anos,ESTUDANTE,Rio Branco,X700,X700,Domicílio,Não

In [16]:
df.to_csv('df_2.csv')